# output files and logs
# outputs/
logs/
slurm_logs/

# job submission scripts
*.sbatch
run_*.sh

# Python cache and logs
*.log
__pycache__/
*.pyc
.DS_Store

# temp files
*.tmp
*.swp
*~

.ipynb_checkpoints/
.virtual_documents/

# Python environments
.venv/
venv/


# data
data/
outputs/